{%extends "showAllRecords.html"%}

{%block content%}
        <div class="container">
            <h1>Admin Login!!</h1>
            <form method="post">
                <table class="table">
                    <tr><td>Enter Login Id</td>
                        <td><input type="text" required class="form-control" name="aname"/></td></tr>
                    <tr><td>Enter Password</td>
                        <td><input type="password" required class="form-control" name="pwd"/></td></tr>
                    <tr><td>
                        <button type="submit" class="main-btn">Login</button>
                    </td></tr>
                </table>
            </form>
        </div>
{%endblock%}