{%extends "showAllRecords.html"%}

{%block content%}
        <div class="container">
            <h1>Login!!</h1>
            <form method="post">
                <table class="table">
                    <tr><td>Login Id</td>
                        <td><input type="text" required class="form-control" name="uname"/></td></tr>
                    <tr><td>Password</td>
                        <td><input type="password" required class="form-control" name="pwd"/></td></tr>
                    <tr><td>
                        <button type="submit" class="main-btn">Login</button>
                    </td></tr>
                </table>
            </form>
        </div>
{%endblock%}